<!--Default Section-->
    <section class="default-section grey-bg">
    	<div class="auto-container">

            <!--Sponsors Section-->
            <div class="sponsors-section">
                <div class="auto-container">
                    <div class="carousel-outer">
                        <!--Sponsors Slider-->
                        <ul class="sponsors-carousel owl-carousel owl-theme">
                            <li><div class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></div></li>
                            <li><div class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></div></li>
                            <li><div class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></div></li>
                            <li><div class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></div></li>
                            <li><div class="image-box"><a href="#"><img src="images/clients/5.png" alt=""></a></div></li>
                            <li><div class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></div></li>
                            <li><div class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></div></li>
                            <li><div class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></div></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--End Sponsors Section-->

            <!--Subscribe Section-->
            <div class="subscribe-section">
            	<h2>مشترک شوید!</h2>
                <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده</div>
                <!--Subscribe Form-->
                <div class="subscribe-form">
                    <form method="post" action="contact.html">
                        <div class="form-group">
                            <input type="email" name="email" value="" placeholder="ایمیل خود را وارد کنید" required class="text-left" dir="ltr">
                            <button type="submit" class="theme-btn"><span class="icon fa fa-angle-left"></span></button>
                        </div>
                    </form>
                </div>

            </div>
            <!--End Subscribe Section-->

        </div>
    </section>
    <!--End Default Section-->