{% load static %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'js/jquery.fancybox-media.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/mixitup.js' %}"></script>

<!-- Revolution Slider -->
<script src="{% static 'plugins/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'js/main-slider-script.js' %}"></script>

<script src="{% static 'js/script.js' %}"></script>
