{% load static %}

<section class="page-title" style="background-image:url({% static 'images/background/back.png' %});">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<!--Title -->
            	<div class="title-column col-md-6 col-sm-8 col-xs-12">
                	<h1>محصولات</h1>
                </div>
                <!--Bread Crumb -->
                <div class="breadcrumb-column col-md-6 col-sm-4 col-xs-12">
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'core:home' %}">خانه</a></li>
                        <li><a href="{% url 'shop:shop_list' %}">محصولات</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>