<aside class="sidebar blog-sidebar">
    <!-- Search -->
    <div class="sidebar-widget search-box">
        <form method="get" action="{% url 'portfolio:portfolio_list' %}">
            <div class="form-group">
                <input type="search" name="q" value="{{ request.GET.q }}" placeholder="جستجو ..." required>
                <button type="submit"><span class="icon fa fa-search"></span></button>
            </div>
        </form>
    </div>

    <!--Blog Category Widget-->
    <div class="sidebar-widget sidebar-blog-category">
        <div class="sidebar-title"><h2>دسته‌بندی ها</h2></div>
        <ul class="blog-cat">
            {% for cat in categories %}
            <li><a href="{% url 'portfolio:portfolio_list' %}?category={{ cat.id }}">{{ cat.title }}<span>({{ cat.post.count }})</span></a></li>
            {% endfor %}
        </ul>
    </div>

    <!-- Popular Posts -->
    <div class="sidebar-widget popular-posts">
        <div class="sidebar-title"><h2>اخبار جدید</h2></div>
        {% for news in recent_news %}
        <article class="post">
            <figure class="post-thumb"><a href="{{ news.get_absolute_url }}"><img src="{{ news.image.url }}" alt="{{ news.name }}"></a></figure>
            <div class="text"><a href="{{ news.get_absolute_url }}">{{ news.name }}</a></div>
            <div class="post-info">{{ news.created_at|date:"d F Y" }}</div>
        </article>
        {% endfor %}
    </div>

    <!-- Popular Tags -->
    <div class="sidebar-widget popular-tags">
        <div class="sidebar-title"><h2>کلمات کلیدی</h2></div>
        {% for tag in all_tags %}
            <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
        {% endfor %}
    </div>

    <!-- Gallery Widget-->
    <div class="sidebar-widget gallery-widget">
        <div class="sidebar-title"><h2>اینستاگرام</h2></div>
        <div class="clearfix grid-blocks">
            {% for img in instagram_image %}
            <figure class="image">
                <a href="{{ img.image.url }}" class="lightbox-image"><img src="{{ img.image.url }}" alt=""></a>
            </figure>
            {% endfor %}
        </div>
    </div>
</aside>